.dashboardheaderParentcontent {
    display: grid;
    grid-template-rows: 0.1fr 1fr;
}

.dashboardheadercontent {
    display: flex;
    justify-content: space-between;
}

.usergreeting {
    padding-left: 15px;
}

.usergreeting h2 {
    font-family: Poppins;
    font-size: 16px;
}

.exportResult {
    padding-right: 10px;
}

.exportBtn {
    display: flex;
    align-items: center;
    padding: 7px;
    gap: 10px;
    border-radius: 10px;
    border: none;
    background-color: #ffae00;

}

.exportBtn p {
    font-family: Poppins;
    color: white;
}

.exportBtn i {
    color: white;
    font-size: 15px;
}

.dashboardcardContent {
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    display: grid;
    gap: 10px;
    box-shadow: 1px 1px 69px rgb(215, 215, 215);

}

.dashboardheaderParentcard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
    padding: 10px;
    justify-content: space-between;

}

.firstcardContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.firstcardContent button {
    border-radius: 10px;
    font-size: 12px;
    padding: 5px;
    outline: none;
    border: 1px solid gray;
    background-color: white;
}

.aboutCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.aboutCard p {
    font-size: 12px;
    font-family: Poppins;
}

.aboutCard i {
    font-size: 10px;
}

.secondcardContent h3 {
    font-family: Poppins;
    font-weight: 100;
}

.thirdcardContent {
    display: flex;
    align-items: center;
    gap: 10px;
}

.percentage {
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: rgb(192, 252, 192);
    padding: 5px;
    border-radius: 10px;
}

.percentage p {
    font-family: Poppins;
    font-size: 10px;
    color: green;
}

.percentage i {
    font-size: 10px;
    color: green;
}

.thirdcardContent p {
    font-family: Poppins;
    font-size: 8px;
}


.dashboardbodycontent {
    display: grid;
    grid-template-columns: 1fr 0.48fr;
    padding: 10px;
    gap: 20px;
}
    .dashboardbodyFirstpanel{
   display: grid;
   grid-template-rows: 1fr;
}


.RecentActivity {
    background-color: white;
    display: grid;
    grid-template-rows: 0.2fr 1fr;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}

.RecentActivityHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.addActivitybtnContent {
    display: grid;
    justify-items: end;
}

.RecentActivityHeaderTag {
    font-size: 12px;
    font-family: Poppins;
    font-weight: bold;
}

.activityDate {
    font-size: 12px;
    font-family: Poppins;
    color: gray;
}

.addActivitybtnContent button {
    display: flex;
    padding: 2px 3px;
    border: none;
    box-shadow: 2px 2px 0.5px rgb(215, 215, 215);
    color: gray;
    border-radius: 50px;
    font-size: 10px;
    background-color: white;
}

.addActivitybtnContent button i {
    font-size: 10px;
    color: gray;
}

.RecentActivityBodyContent{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.RecentActivityBody img{
    width: 30px;
    border-radius: 50px;
}
.RecentActivityBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -1px 0.5px rgb(215, 215, 215);

}
.RecentActivityBodyTxtContent{
    display: flex;
    align-items: center;
    gap: 10px;
}
.productName{
    font-family: Poppins;
    font-size: 11px;
    color: gray;
    font-weight: 500;
}
.activityDateTime{
     font-family: Poppins;
    font-size: 10px;
    font-weight: 500;
    color: gray;
}

.activityValue{
    font-family: Poppins;
    font-size: 10px;
    font-weight: 200;
    color: rgb(82, 81, 81);
}
@media (min-width:855px) {
    .RecentActivityHeader{
        gap: 5px;
    }
    .RecentActivityHeaderTag {
    font-size: 14px;
}


.activityDate {
    font-size: 14px;
}

.addActivitybtnContent button {
    font-size: 12px;
}

.addActivitybtnContent button i {
    font-size: 12px;
}

      .RecentActivityBody  img{
        width: 50px;
    }
    .activityDateTime{
        font-size: 14px;
    }
    .productName{
        font-size: 16px;
    }
    .activityValue{
        font-size: 14px;
    }
    .percentage p {
    font-size: 12px;
}
.percentage i{
    font-size: 12px;
}
.thirdcardContent p {
    font-size: 10px;
}

}

@media (max-width:680px) {
    
.dashboardbodycontent {
    display: grid;
    grid-template-columns: 1fr
}
.dashboardheaderParentcard {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

}
@media (max-width:500px) {
    .exportBtn{
        padding: 5px;
        font-size: 10px;
    }
    .exportBtn i {
        font-size: 12px;
    }
}
